@font-face {
  font-family: 'BarrioRegular';
  src: url('https://fontlibrary.org/assets/fonts/barrio/7281088b662c310651e324f798e03bb0/8fd3ddbd649859dd936b083c5422a5b5/BarrioRegular.ttf') format('truetype');
  src: url('../fonts/BarrioRegular.eot') format('embedded-opentype');
  src: url('../fonts/BarrioRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
    }



/* ********************************************
Main Styles
******************************************** */

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

#experiment-title {
  /* center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* appearance */
  background-color: rgba(53, 53, 53, 0.9);
  box-shadow: 0 0 1px #fff;
  border-radius: 4px;

  /* text */
  color: white;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.75em;
  text-align: center;
  
  /* shape */
  padding: 1rem;
  max-width: 80%;
}

.ex-div {
  height: 100vh;
  width: 100vw;
}

#carousel-next {
  position: absolute;
  right: 0;
  border-radius: 0 0 0 1.25rem;
}

#carousel-prev {
  position: absolute;
  left: 0;
  border-radius: 0 0 1.25rem 0;
  display: none;

}

.carousel-btn {
  background-color: rgba(136, 136, 136, 0);
  font: bold 4em/1.66 Helvetica, Arial, sans-serif;
  border: none;
  color: white;
  width: 6rem;
}





/* ********************************************
Experiments
******************************************** */

/* ex1 - Heat */

#ex1 {
  background-image: radial-gradient(circle at right,#F02500, #FF6F00 50%,#f88a36 51%, #26A3D3 52%,#42B3DE, #B3C2E5);
  display: flex; 
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px;
}

#ex1 label {
  font: normal 20vw/1 'BarrioRegular', sans-serif;
  color:  #FFFB71;
  text-shadow: 0 0 10px #FFFB71;
}

/* ex2 - Eclipse */

#ex2 {
  background-image: radial-gradient(circle, #000, #000 10%, #fff 11%,  #E7FF71 25%, #71FFFF)
}

/* ex3 - Moonrise */

#ex3 {
  background-image: radial-gradient(circle at bottom, #ddd, #aaa 40%, #B10073 40%, #28015C)
}

/* ex4 - Slow linear gradient, interrupted by stripes */

#ex4 {
  display: flex;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 247.2, 229.5) 9%, #fff 10%, #fff 19%, rgb(255, 239.4, 204) 20%, rgb(255, 231.6, 178.5) 29%, #fff 30%, #fff 39%, rgb(255, 223.8, 153) 40%, rgb(255, 216, 127.5) 49%, #fff 50%, #fff 59%, rgb(255, 208.2, 102) 60%, rgb(255, 200.4, 76.5) 69%, #fff 70%, #fff 79%, rgb(255, 192.6, 51) 80%, rgb(255, 184.8, 25.5) 89%, #fff 90%, #fff 99%);
}

#ex4-white-bg {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  transition: background-color .25s ease 0s;
}


#ex2, 
#ex3, 
#ex4 
  {
  display: none;
}

/* ********************************************
Form
******************************************** */

.form-wrapper {
  padding: 1rem;
  width: 15rem;
  height: 29rem;
  margin: 7.5rem auto 0 ;
  border-radius: 1rem;
}

.short-wrapper {
  height: 5rem;
}

form input {
  width: 100%;
  margin: 0 auto .5rem; 
}

.form-text {
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.1em;
  margin-top: 1rem;
  border-bottom: solid 1px #2e2e2e;
  box-shadow: 0 0 1px #fff;
}

form .form-label {
  border-radius: 4px;
  padding: .5rem;
  background-color: #353535;
  color: white;

}

.form-btn {
  margin: .5rem auto;
  border: none;
  border-radius: 1.25rem;
  padding: .75rem;
  background-color: white;
  color: #353535;
}

/* ********************************************
Reusable classes
******************************************** */

.hide {
  display: none;
}

.show {
  display: block;
}

.bg-container {
    background:  rgba(65, 65, 65, 0.521);
    box-shadow: 0 0 1px #fff;
}

